<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">

<suite name="TestNG Test Automation suite">

	<test name="Different testng Feature Test">
	
		<classes>
		
			<class name ="com.testng.ExceptionTimeoutTest" /> 
			<class name ="com.testng.GoogleTest" /> 
			<class name ="com.testng.GoogleTitleTest" /> 
			<class name ="com.testng.InvocationCountTest" /> 
			<class name ="com.testng.TestNGBasics" /> 
			<class name ="com.testng.TestNGFeatures" />
			
		</classes>

	</test>

</suite>